<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" type="image/png" href="https://i.ibb.co/BB6zrMc/diseno-logotipo-coche-deportivo-icono-silueta-coche-rapido-141130-9077-removebg-preview.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


      <!-- ===============================================-->
      <!--             TITULO DE LA PAGINA                -->
      <!-- ===============================================-->
    <title>URJC MOTORS</title>

    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


      <!-- ===============================================-->
      <!--             HOJA DE ESTILOS                    -->
      <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" type="text/css"/>

  </head>


  <body>

    <!-- ===============================================-->
    <!--               Main Content                     -->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav style="background-color: black;" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
        data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/">
          <img src="../imagenes/bandera.png" width="50" height="50" >
          <span class="text-light fs-2 fw-bold ms-2">URJC MOTORS</span></a>
        </div>
      </nav>
            <!-- espaciador -->
            <div class="row">
              <div class="col" style="height: 100px ;">
              </div>
            </div>
            </div>
      
            <div class="row">
              <div class="row justify-content-center align-items-center" style="min-height: 20vh;">
                <div class="col text-center">
                  <img src="../imagenes/Black and Green Modern Automotive Logo (1).png" alt="Imagen centrada" class="img-fluid">
                </div>
              </div>
            </div>
      <!-- contenido de verdad -->
      <section class="py-2" id="header">
        <div class="bg-holder"
          style="background-image:url(assets/img/gallery/header-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->
        <section>
          {{#coche}}
          <div id="carta-0" class="card" style="width: 40rem; border-radius: 25px; background-color: maroon; margin:auto">
            <img class="card-img-top colu"
              src="{{Imagen}}"
              style="border-radius: 15px; width: 250px; margin: auto;">
            <div class="card-body">
              <h5 class="card-title">{{Nombre}}</h5>
              <ul>
                <li>
                  <strong>Año de fabricación</strong>:{{Year}}
                </li>
                <li>
                  <strong>Color</strong>:{{Color}}
                </li>
                <li>
                  <strong>Motor</strong>: {{Motor}}
                </li>
                <li>
                  <strong>Caballos</strong>: {{Caballos}}
                </li>
                <li>
                  <strong>Matrícula</strong>:{{Matricula}}
                </li>
              </ul>
              <button class="btn btn-primary" style="border-radius: 15px;background-color: black;">Borrar</button>
              <button class="btn btn-primary" style="border-radius: 15px;background-color: black;">Editar</button>
              <a href="/" class="btn btn-primary" style="border-radius: 15px; background-color: black">Página
                principal</a>
            </div>
          </div>
          {{/coche}}
          <div id="carta-1" class="card m-5 mx-auto"
            style="width: 40rem; border-radius: 25px; background-color: maroon; margin:auto">
            <div class="card-body">
              <h5 class="card-title"> Añade una reseña </h5>
              <form>
                <div class="form-group mb-3">
                  <label for="input-1">Comprador</label>
                  <input class="form-control" id="input-1" style="color: black;">
                </div>
                <div class="form-group mb-3">
                  <label for="input-3">Concesionario</label>
                  <input class="form-control" id="input-3" style="color: black;">
                </div>
                <div class="form-group mb-5">
                  <label for="input-4">Opinion</label>
                  <textarea class="form-control" id="input-4" style="color: black;"></textarea>
                </div>
                <div class="form-group mb-5">
                  <label for="input-5">Valoración</label>
                  <input type="range" class="form-range" id="input-5" style="color: black;" max="5" min="0" step="1">
                </div>
                <button id="guardar-bot" class="btn"
                  style="background-color: black; border-radius: 15px;">Guardar</button>
                <a id="cancelar-bot" class="btn" style="background-color: black;border-radius: 15px">Cancelar</a>
              </form>
            </div>
          </div>
          <div><h3 style="margin: auto; width: 40rem;">Comentarios</h3></div>

            {{#reviews}}

            <div class="card m-5 mx-auto" id="cartac-0" style="width: 40rem; border-radius: 25px; background-color: maroon; margin:auto">
              <div class="card-body">
                <h4><strong>{{Comprador}}</strong> | {{Valoracion}} &#8902;</h4>
                <p>{{Opinion}}</p>
                <p style="font-size: small;">comprado en Concesionario {{Concesionario}}</p>
              </div>
            </div>

          {{/reviews}}
        </section>
    </main>
  </body>
</html>