<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://i.ibb.co/BB6zrMc/diseno-logotipo-coche-deportivo-icono-silueta-coche-rapido-141130-9077-removebg-preview.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- ===============================================-->
      <!--             TITULO DE LA PAGINA                -->
      <!-- ===============================================-->
    <title>URJC MOTORS</title>

    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
      <!-- ===============================================-->
      <!--             HOJA DE ESTILOS                    -->
      <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" type="text/css"/>
  </head>


  <body>
      <!-- ===============================================-->
      <!--               Main Content                     -->
      <!-- ===============================================-->
    <main class="main" id="top">
      <nav style="background-color: black;" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
        data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/">
          <img src="../imagenes/bandera.png" width="45" height="45" >
          <span class="text-light fs-2 fw-bold ms-2">URJC MOTORS</span></a>
          <a href="/" class="btn btn-primary" style="border-radius: 15px; background-color: rgb(199, 107, 3)">Página principal</a>
        </div>
      </nav>
            <!-- espaciador -->
            <div class="row">
              <div class="col" style="height: 100px ;">
              </div>
            </div>
            </div>
      
            <div class="row">
              <div class="row justify-content-center align-items-center" style="min-height: 20vh;">
                <div class="col text-center">
                  <img src="../imagenes/Black and Green Modern Automotive Logo (1).png" alt="Imagen centrada" class="img-fluid">
                </div>
              </div>
            </div>
      <section class="py-2" id="header">
        <div class="bg-holder"
          style="background-image:url(assets/img/gallery/header-bg.png);background-position:right top;background-size:contain;">
        </div>
      {{#forms}}
        <section>
          <div class="card" style="width: 25rem; border-radius: 25px; background-color: maroon; margin:auto">
            <div class="card-body">
              <form action="/updateEdit/{{Matricula}}" method="post">
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input class="form-control" id="Nombre" name="Nombre" style="color: black;" required>
                </div>
                <div class="form-group">
                  <label for="Year">Año de fabricación</label>
                  <input class="form-control" id="Year" name="Year"  type ="number" style="color: black;" min="1950" max="2024"  required>
                </div>
                <div class="form-group">
                  <label for="Imagen">URL Imagen</label>
                  <input class="form-control" id="Imagen" name="Imagen" type="url" style="color: black;" required>
                </div>
                <div class="form-group">
                  <label for="Color">Color</label>
                  <input class="form-control form-control-color" type="color" id="Color" name="Color" style="border-radius: 15px;" required>
                </div>
                <div class="form-group">
                  <label for="Motor">Motor</label>
                  <input class="form-control" id="Motor" name="Motor" style="color: black;" required>
                </div>
                <div class="form-group ">
                  <label for="Caballos">Caballos</label>
                  <select class="form-control" id="Caballos" name="Caballos" style="color: black;" required>
                    <option selected>Rango de caballos &#8595;</option>
                    <option value="1">80-120</option>
                    <option value="2">120-160</option>
                    <option value="3">160-200</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Matricula">Matrícula</label>
                  <input class="form-control" id="Matricula" name="Matricula" style="color: black;" pattern="[0-9]{4} [A-Z]{3}" required>
                </div>
                <button id="guardar-bot" class="btn m-3 ms-5"
                  style="background-color: black; border-radius: 15px;" type="submit">Guardar</button>
                <a id="cancelar-bot" class="btn m-3" style="background-color: black;border-radius: 15px"
                  href="/">Cancelar</a>
              </form>
            </div>
          </div>
        </section>
      {{/forms}}
      {{^forms}}
        <section>
          <div class="card" style="width: 25rem; border-radius: 25px; background-color: maroon; margin:auto">
            <div class="card-body">
              <form action="/addCar" method="post">
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input class="form-control" id="Nombre" name="Nombre" style="color: black;" required>
                </div>
                <div class="form-group">
                  <label for="Year">Año de fabricación</label>
                  <input class="form-control" id="Year" name="Year"  type ="number" style="color: black;" min="1950" max="2024"  required>
                </div>
                <div class="form-group">
                  <label for="Imagen">URL Imagen</label>
                  <input class="form-control" id="Imagen" name="Imagen" type="url" style="color: black;" required>
                </div>
                <div class="form-group">
                  <label for="Color">Color</label>
                  <input class="form-control form-control-color" type="color" id="Color" name="Color" style="border-radius: 15px;" required>
                </div>
                <div class="form-group">
                  <label for="Motor">Motor</label>
                  <input class="form-control" id="Motor" name="Motor" style="color: black;" required>
                </div>
                <div class="form-group ">
                  <label for="Caballos">Caballos</label>
                  <select class="form-control" id="Caballos" name="Caballos" style="color: black;" required>
                    <option selected>Rango de caballos &#8595;</option>
                    <option value="1">80-120</option>
                    <option value="2">120-160</option>
                    <option value="3">160-200</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Matricula">Matrícula</label>
                  <input class="form-control" id="Matricula" name="Matricula" style="color: black;" pattern="[0-9]{4} [A-Z]{3}" required>
                </div>
                <button id="guardar-bot" class="btn m-3 ms-5"
                  style="background-color: black; border-radius: 15px;" type="submit">Guardar</button>
                <a id="cancelar-bot" class="btn m-3" style="background-color: black;border-radius: 15px"
                  href="/">Cancelar</a>
              </form>
            </div>
          </div>
        </section>
      {{/forms}}
    </main>
  </body>
</html>