<!DOCTYPE html>
<html>
  

  <head>
    <link rel="icon" type="image/png" href="https://i.ibb.co/vVr5kCh/diseno-logotipo-coche-deportivo-icono-silueta-coche-rapido-141130-9077.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--             TITULO DE LA PAGINA                -->
    <!-- ===============================================-->
    <title>URJC MOTORS</title>

    <!-- ===============================================-->
    <!--             HOJA DE ESTILOS                    -->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <!-- ===============================================-->
    <!--               Main Content                     -->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav style="background-color: black;" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/">
          <img src="imagenes/bandera.png" width="50" height="50" >
          <span class="text-light fs-2 fw-bold ms-2">URJC MOTORS</span></a>
          <a href="/form" class="btn btn-primary" style="border-radius: 15px; background-color: rgb(199, 107, 3)">Nuevo Coche</a>
        </div>
      </nav>

      <section class="py-2" id="header">
        <div class="bg-holder"
          style="background-image:url(assets/img/gallery/header-bg.png);background-position:right top;background-size:contain;">
        </div>
        
        <!-- espaciador -->
        <div class="row">
          <div class="col" style="height: 98px ;">
          </div>
        </div>
        </div>

        <div class="row">
          <div class="row justify-content-center align-items-center" style="min-height: 20vh;">
            <div class="col text-center">
              <img src="imagenes/Black and Green Modern Automotive Logo (1).png" alt="Imagen centrada" class="img-fluid">
            </div>
          </div>
        </div>

        <!-- ===============================================-->
        <!--             Primera fila de elmentos           -->
        <!-- ===============================================-->

        <div class="row ">
          
          
          {{#elementos}}
            <div class="col">
            <a href="/detalles/{{Matricula}}">
              <div id="item-{{Nombre}}" style="background-color: maroon; width:  14rem;border-radius: 25px; margin: auto; "
                class="card">
                <img style="border-radius: 25px;" class="card-img-top"
                  src="{{Imagen}}">
                <div class="card-body">
                  <p class="text-light fs-2 fw-bold ms-2">{{Nombre}}</p>
                </div>
              </div>
            </a>
            </div>
          {{/elementos}}
          {{^elementos}}
            <h4>No hay coches</h4>

          {{/elementos}}
          

          

          
        
        </div>
        <!-- espaciador -->
        <div class="row">
          <div class="col" style="height: 100px ;">
          </div>
        </div>
        <!-- ===============================================-->
        <!--              SEGUNDA FILA DE ELMENTOS          -->
        <!-- ===============================================-->
        <div class="row ">

          

          

          

          

        </div>
        <div class="row min-vh-75 ">
          <div class="col">
            <!-- espaciador -->
            <div class="row">
              <div class="col" style="height: 100px ;">
              </div>
            </div>

            <!-- ===============================================-->
            <!--          TERCERA FILA DE ELMENTOS              -->
            <!-- ===============================================-->
            <div class="row ">

              

              

              

            </div>
            <!-- ===============================================-->
            <!--            FIN DE LOS ELEMENTOS                -->
            <!-- ===============================================-->
          </div>
        </div>
      </section>
    </main>
  </body>
</html>




















